.active{
  @apply text-orange-500 underline
}
.pagination{
  justify-content: center;
  align-items: center;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination li{
  margin: 0 5px; 
}
.pagination a{
  padding: 5px 10px; 
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}
.pagination a:hover{
  background:#eee; 
}
.pagination li.activePagination{
  margin: 0 5px; 
  background: rgb(255, 106, 0);
  border-radius: 4px;
  color: white;
} 